.mission-header {
  background-color: blueviolet;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 5%;
}

thead {
    border: solid 1px red;
}

th {
    border: solid 1px red;

}