.card-wrapper {
    border: solid 2px brown;
    display:flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

.mission-desc {
    width: 70%;
    border-left: red 1px solid;
    border-right: red 1px solid;
}

.mission-action {
    width: 20%;
    text-align: center;
}
